Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# The HoloLens Platform
Platforms/HoloLens/Config

# The Rider aut generated folder
.idea
Binaries/Developer/RiderLink