Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# The HoloLens Platform
Platforms

# The Rider aut generated folder
.idea
Plugins/Developer/RiderLink

.vsconfig